<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <style>

  </style>

  <body style="font-family:verdana;">
    <h2>Hi there! </h2>
    <h3>Thanks for using SANLIFE.</h3>
    <p>Below is the list of foods that you selected:</p>
        <% @nutrients_with_food.each do |nutrient, excluded_foods| %>
        <p>Foods with <strong><%= nutrient.name %></strong>:</p>
        <ul>
          <% excluded_foods.each do |food| %>
            <li><%= food.name %></li>
          <% end %>
        </ul>
        <% end %>

    <p>See you soon!</p>
    <p><strong>The SANLIFE team</strong></p>
  </body>
</html>
