.nutrient-food-row {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 8px;
  justify-content: flex-start-between;
  width: fit-content;
  min-width: 684px;
  border-radius: 4px;
  padding: 8px;
}

.line-height {
  line-height: 1.8;
  padding-bottom: 12px;
}

.nutrient {
  font-size: 16px;
  font-weight: bold;
  padding: 30px 4px;
  margin: 12px 0;
  margin-left: 4px;
  height: 80px;
  width: 94px;
  border-right: 2px solid #f2f8f9;
}


.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  opacity: .6;
  border-radius: 0 4px 0 32px;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-out;
    opacity: 1;
    width: 40px;
    height: 40px;
  }
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: arial;

  &:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.2);
  }
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  width: 142px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  height: 80px;

  &.small {
    font-size: 0.92em;
  }
}
