.nutrient-food-row {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 9px;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  padding-left: 62px;
  padding-right: 62px;
}

.line-height {
  line-height: 1.8;
  padding-bottom: 12px;
}

.nutrient {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 34px;
  margin: 9px;
  border-right: 2px solid #f2f8f9;
}

.nutrient strong {
  font-size: 27px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 36px;
  height: 36px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #FF7B00;
  opacity: .6;
  border-radius: 0 4px 0 32px;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-out;
    opacity: 1;
    width: 42px;
    height: 42px;
  }
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: arial;

  &:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.1);
  }
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  width: 174px;
  background-color: #FFF4EB;
  border-radius: 4px;
  padding: 52px 16px;
  margin: 6px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  height: 80px;

  &.small {
    font-size: 27px;
  }
}

.small {
  font-weight: 500;
}
