// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 89px;
}

.style-i {
  filter: invert(47%) sepia(59%) saturate(1884%) hue-rotate(359deg) brightness(104%) contrast(105%);
}

.banner .logo-sanlife {
  filter: invert(47%) sepia(59%) saturate(1884%) hue-rotate(359deg) brightness(104%) contrast(105%);
  padding: 16px;
  margin: -21px;
  margin-left: 504px;
  width: 64px;
  height: 64px;
}

.banner .logo-sanlife:hover {
  filter: invert(47%) sepia(59%) saturate(1884%) hue-rotate(359deg) brightness(104%) contrast(105%);
}

.banner h1 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: bold;
  margin-top: -8px;
}

.banner h2 {
  font-family: Montserrat;
  margin-top: 36px;
}

.banner p {
  font-family: Montserrat;
  font-size: 20px;
}

.banner .btn-home {
  color: #FFF3EB;
  border: 1px solid #FFC65A;
  padding: 18px 42px;
  border-radius: 8px;
  font-size: 24px;
  line-height: 22px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #FF7A02;
  text-decoration:none;
  margin: 10px;
  margin-top: 10px;
}

.banner .btn-home:hover {
  background: rgba(255, 123, 0, 0.4);
  color: #FF7A02;
  border: 1px solid #FF7A02;
  background-color: #FFF3EB;
  text-decoration:none;
}

.btn-margin  {
  margin-top: 116px;
}

.info {
  margin-top: 116px;
}
