// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 261px;
}

.banner h1 {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
}

.btn-home {
  color: #FFC65A;
  border: 1px solid #FFC65A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #FF7B00;
  text-decoration:none;
}

.btn-home:hover {
  background: rgba(255, 123, 0, 0.4);
  color: #E67E22;
  border: 1px solid #E67E22;
  text-decoration:none;
}
