* {
  text-align: center;
}

body {
  background-color: white;
}

.container {
  background-color: white;
  max-width: 90%;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  margin-top: -8px;
}

h3 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 28px;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 1rem;
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.font-green {
  color: #044425;
}

.logo-sanlife-preferences {
  filter: invert(47%) sepia(59%) saturate(1884%) hue-rotate(359deg) brightness(104%) contrast(105%);
  padding: 14px;
  margin: -50px;
  margin-left: 50px;
  margin-top: 33px;
  width: 64px;
  height: 64px;
}

.logo-sanlife-preferences:hover {
  filter: invert(21%) sepia(25%) saturate(3698%) hue-rotate(97deg) brightness(93%) contrast(104%);
}

.result {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 6rem;
}

.health-concern {
  margin-bottom: 48px;

  p {
    text-align: center;
    margin-top: 48px;
  }
}

.health-concern-inputs {
  position: relative;
  border: 1px solid #FFC085;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 28px;
  margin-left: 162px;
  margin-right: 162px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.all-card-nutrient {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card-nutrient-sentence {
  margin-top: 9px;
  margin-bottom: 56px;
  text-align: left;
}

.result-nutrient p {
  font-size: 16px;
}


.result-nutrient-foods-rows {
  margin-top: 38px;
  margin-left: 18px;
  margin-right: 18px;
}

.good {
  padding-top: 0px;
  margin-bottom: 0;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.arrow-container-select {
  top: -4rem;
  left: -10rem;

  p {
    margin-top: 1rem;
    font-family: 'Nanum Pen Script';
    font-size: 2rem;
  }

  svg {
    transform: rotate(187deg) scaleX(-1) translate(9px, -8px);
  }
}

.arrow-container-feel {
  top: -5.2rem;
  left: 3rem;
  width: max-content;

  p {
    margin-top: 1rem;
    font-family: 'Nanum Pen Script';
    font-size: 1.4rem;
    text-align: end;
    line-height: 1em;
  }

  svg {
    transform: rotate(523deg) scaleX(1) translate(-69px, -50px);
  }
}

.arrow-container-mail {
  top: 2.7rem;
  left: 8rem;
  width: 24rem;
  position: absolute;

  p {
    font-family: 'Nanum Pen Script';
    font-size: 1.4rem;
    text-align: end;
    line-height: 1em;
  }

  svg {
    transform: rotate(1076deg) scaleX(1) translate(392px, 14px);
  }
}
