* {
  text-align: center;
}

body {
  background-color: white;
}

.container {
  background-color: white;
  max-width: 90%;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-top: -8px;
}

h3 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 28px;
  text-align: left;
  margin-top: 48px;
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}

.result {
  margin-left: 18px;
  margin-right: 18px;
}

.health-concern {
  margin-bottom: 48px;

  p {
    text-align: left;
    margin-top: 48px;
  }
}


.health-concern-inputs {
  border: 1px solid #FFC085;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 28px;
  margin-left: 162px;
  margin-right: 162px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.all-card-nutrient {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card-nutrient-sentence {
  margin-top: 9px;
  margin-bottom: 56px;
  text-align: left;
}

.result-nutrient {

  p {
    text-align: left;
    font-size: 16px;
  }
}


.result-nutrient-foods-rows {
  margin-top: 38px;
  margin-left: 162px;
  margin-right: 162px;
}
