<div class="footer">
  <div class="footer-copyright">
    <%= link_to "https://github.com/paulschauss/SANLIFE/graphs/contributors", target:"_blank", class:"github" do %>
      <%=  image_tag("github.png", class:"github") %>
    <% end %>
    Coded with <i class="fas fa-heart heart"></i> at Le Wagon.
  </div>
  <div>
    <%= link_to "logout", destroy_user_session_path, method: :delete,  class:"logout_link"%>
  </div>
</div>
