<div class="footer">
  <div class="footer-copyright">
    Coded with <i class="fas fa-heart heart"></i> at Le Wagon.
  </div>
  <div>
    <%= link_to "logout", destroy_user_session_path, method: :delete,  class:"logout_link"%>
  </div>
</div>
