<div class="banner">
  <div class="container-home">
    <h1>Welcome to <strong>SANLIFE</strong></h1>
    <p>Find out which foods are best for <i>you</i>.</p>
    <a class="btn-home" href="#">Apply now</a>
  </div>
</div>
