<div class="home-page-title">
  <div class="box-1">
    <h1>Welcome to <br><span>SANLIFE</span></h1>

    <h4>Find out which foods are best for <i>you</i>.</h4>
    <p class="text-box">Before thinking about food supplements, why not consider <em>actual food</em>?
    But how do you know which foods contain the correct vitamins and minerals?
    Let's find out!</p>
    <div class="button-home">
      <%= link_to "Start Now", preferences_path, class:'btn-home' %>
    </div>
  </div>
  <div class="plate-drawing">
    <%= image_tag("PLATE.png") %>
    <div class="plate-text">
      <div class="fork">
        <%= render_svg "noun-fork-3649165", style: "", width:"280", height:"420" %>
      </div>
      <div class="arrow-container-home">
          <p class="font-nanu">Boost your immunity!</p>
          <div class="home-arrow">
            <%= render_svg "icons/curved-arrow-home", style: "", width:"200", height:"180" %>
          </div>
          <div id="home-definition">
            <p class="vitamin-def-title">Vitamin C</>
            <p class="vitamin-def-noun"><em><strong>noun</strong></em> - BIOCHEMISTRY <br>
            <span>UK: /ˌvɪt.ə.mɪn ˈsiː/ US: /ˌvaɪ.t̬ə.mɪn ˈsiː/</span></p>
            <p class="vitamin-def">A vitamin found in foods such as citrus fruit and
            green vegetables. It is important for fighting infection and for healthy bones,
            joints, teeth, and gums.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>



  <%# <p>Did you know that <strong>vitamin B2</strong> can help treat migraines ?
    Or that <strong>vitamin A</strong> can counter hair loss ?</p> %>
