<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container-home">
    <h1><strong>My Illness </strong></h1>
    <p>Discover the <strong>food</strong> you need to cure your <strong>ailments</strong> in less than <strong>5 clicks</strong> !😉</p>
    <a class="btn-home" href="#">Apply now</a>
  </div>
</div>
