<div class="banner">
  <%= image_tag 'logo-sanlife/001-leaf.png', class:'logo-sanlife' %>
  <div class="container-home">
    <h1>Welcome to <strong>SANL<span class="style-i">I</span>FE</strong></p>
    <h2>
      Find out which foods are best for <i>you</i>.
    </h2>
    <div class="btn-margin">
      <%= link_to "Start Now", preferences_path, class:'btn-home' %>
    </div>
  </div>
  <div class="info">
    <p>Did you know that <strong>vitamin B2</strong> can help treat migraines ?
    Or that <strong>vitamin A</strong> can counter hair loss ?</p>
    <p>Before thinking about food supplements, why not consider <em>actual food</em>?
    But how do you know which foods contain the correct vitamins and minerals?
    Let's find out!</p>
  </div>
</div>
