<div class="banner">
  <div class="container-home">
    <h1 style="position:relative">Welcome to SANLIFE</p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="<%= asset_path('lottie_files/toto.json') %>"  background="transparent"  speed="0.3"  style="position:absolute; top:32rem; left:68rem;  width: 300px; height: 300px;"  loop autoplay></lottie-player>
    <h2>
      Find out which foods are best for <i>you</i>.
    </h2>
    <div class="btn-margin">
      <%= link_to "Start Now", preferences_path, class:'btn-home' %>
    </div>
  </div>
  <div class="info">
    <p>Did you know that <strong>vitamin B2</strong> can help treat migraines ?
    Or that <strong>vitamin A</strong> can counter hair loss ?</p>
    <p>Before thinking about food supplements, why not consider <em>actual food</em>?
    But how do you know which foods contain the correct vitamins and minerals?
    Let's find out!</p>
  </div>
</div>
