<div class="banner">
  <div class="container-home">
    <h1>Welcome to <strong>SANLIFE</strong></p>
    <p>Find out which foods are best for <i>you</i>.</H3>
    <a class="btn-home" href="#">Start Now</a>
  </div>
  <div class="info">
    <p>Did you know that <strong>vitamin B2</strong> can help treat <strong>migraines</strong> ?</p>
    <p>Or that <strong>vitamin A</strong> is essential to treat <strong>hair loss</strong> ?</p>
  </div>
</div>
