
<div class="container" data-controller="illness-preferences-results">
<<<<<<< HEAD
  <h1>Welcome to SANLIFE</h1>
  <h2>Find out which foods are best for <i>you</i>.</h2>
  <div class="health-concern">
    <p>Select your particular health concerns (max four): </p>
    <div class="row justify-content-center health-concern-inputs">
      <% @illnesses.each do |illness| %>
        <%= render "user_illnesses/user_preferences", illness: illness %>
      <% end %>
    </div>
=======
  <h1>Preferences</h1>
  <div class="row justify-content-center">
    <% @illnesses.each do |illness| %>
      <%= render "user_illnesses/user_preferences", illness: illness %>
    <% end %>
>>>>>>> b3b4f87c62e88b5a96f2bc0bf4af2c976f671b92
  </div>
  <h2>Your result</h2>
  <div id="vitamins">
    <%= render "vitamins_result", nutrients_with_food: @nutrients_with_food %>
  </div>
<<<<<<< HEAD
  <p>Et voilà! Click ’Export’ to receive a useful summary of your plan above, straight to your inbox.</p>
  <a href="#">BUTTON</a>
  <p>See you next week!</h3>
=======
>>>>>>> b3b4f87c62e88b5a96f2bc0bf4af2c976f671b92
</div>


<%= link_to "Send me an email", send_path, class:'btn btn-primary'  %>
