<div class="container" data-controller="illness-preferences-results">
  <h1>preferences</h1>
  <div class="row justify-content-center">
    <% @illnesses.each do |illness| %>
      <%= render "user_illnesses/user_preferences", illness: illness %>
    <% end %>
  </div>
  <div id="vitamins">
    <h2>Your vitamins</h2>
    <%= render "vitamins_result", nutrients: @nutrients %>
  </div>
</div>
