<div class="card2" data-controller="food-card"
                                      data-food-card-target="card"
                                      data-food-card-id-value="<%= food.id %>">
  <p class="small"><%= food.name %></p>
  <div class="go-corner">
    <span class="go-arrow" data-action="click->food-card#refresh">X</span>
  </div>
</div>
