<div class="card2" data-action="click->illness-preferences-results#excludeFood" data-food-id="<%= food.id %>">
  <p class="small"><%= food.name %> </p>
  <% if legend %>
    <div class="arrow arrow-container-feel">
      <%= render_svg "icons/curved-arrow", style: "", width:"30", height:"30" %>
      <p class="font-nanu font-green">Feel free to replace those which you don't like <br>or are alleric to, no hard feelings!</p>
    </div>
  <% end %>
  <div class="go-corner">
    <%= image_tag 'reload.png', data: { action:"click->food-card#refresh" } %>
  </div>
</div>
