<div class="container">
  <%= link_to "test", foods_path(nutrient_ids: Nutrient.all.sample(4).map(&:id)) %>
  <h1>Weekly Plan</h1>
  <div class="line-height">
    <h3 >Foods you should eat this week</h3>
  </div>
  <% @nutrients.each do |nutrient| %>
    <div class="nutrient-food-row">
      <h2 class="nutrient"><strong><%= nutrient.name %></strong></h2>
      <% nutrient.foods.sample(4).each do |food| %>

        <%= render "foods/food_cards", food: food %>

      <% end %>
    </div>
  <% end %>

</div>
