<h1>Your nutritional plan this week</h1>

<%= link_to "test", foods_path(nutrient_ids: Nutrient.all.sample(4).map(&:id)) %>


<hr>

<ul>
  <% @nutrients.each do |nutrient| %>
    <li>
      <%= nutrient.name %>
      <ul>
          <% nutrient.foods.sample(4).each do |food| %>
          <li>
            <%= food.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
