.button-export {
  border-radius: 8px;
  background-color: #FF7B00;
  padding: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 9px;
  justify-content: center;
  cursor: pointer;

  .button-export:hover {
    opacity: .6;
  }

  .loader {

  }

}
