.button-export {
  border-radius: 5px;
  background-color: #FF7B00;
  color: #fff;
  padding: 4px 36px;
  font-size: 19px;
  font-weight: 500;
  font-family: Montserrat;
  justify-content: center;
  cursor: pointer;
  display: inline-table;
  height: 34px;
  margin-top: 0px;
  margin-left: -32px;

  &:hover {
   background-color: #FFB07B;
  }
}

.add-email {
  padding: 16px;
  margin: 6px;
}

.export {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
}

.input-mail {
  border-radius: 5px;
  padding: 4px 46px;
}
