.btn-preferences:hover {
  background-color: rgba(255, 123, 0, 0.4)
}

.btn-preferences:active {
  background-color: blue;
}

.btn-preferences-add {
  background-color: green;
}

.btn-preferences-remove {
  background-color: red;
}
