body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 54px;
  padding: 0px 100px;
  color: #E67E22;
  padding: 10px 10px 0px 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #E67E22;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #FFC65A;
}
.footer .fa-heart {
  color: #E67E22;
}

.links-about{
  color: #FFC65A;
  opacity: 0.75;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
}
.links-about:hover {
  opacity: 1;
  color: #FFC65A;
}
