body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0px 100px;
  padding: 12px 52px;
}

.heart {
  color: #FF7B00;
}

.logout_link {
  text-decoration: none;
  color: black;

  &:hover {
    color: #FF7B00;
    }
}
