body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
    margin-top: auto;
    background: #FFF4EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 25px;
    margin-top: 25px;
}

.github {
  width: 27px;
  opacity: 0.8;
  text-decoration: none;

  a {
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    padding-bottom: 0.2rem;
  }

  &:hover {
    opacity: 1;
  }
}

.heart {
  color: #FF7B00;
}

.logout_link {
  text-decoration: none;
  opacity: 0.8;
  color: black;

  &:hover {
    color: #FF7B00;
    }
}
