<<<<<<< HEAD
<div class="btn-preferences col-3 m-2"
=======
<div class="btn col-2 m-2"
>>>>>>> b3b4f87c62e88b5a96f2bc0bf4af2c976f671b92
      role="button"
      data-bs-toggle="button"
      data-controller="illness-preferences"
      data-illness-preferences-target="button"
      data-illness-preferences-active-value="<%= current_user.illnesses.where(id: illness.id).exists? %>"
      data-illness-preferences-urladd-value="<%= add_user_illness_path(illness) %>"
      data-illness-preferences-urlremove-value="<%= remove_user_illness_path(illness) %>"
      data-action="click->illness-preferences#toggle"
      >
  <%= illness.name %>
</div>
